* {
    margin: 10px;
}

.title {

    font-size: large;
    padding: 10px 0 10px 0;
    text-align: center;
    background-color:aqua ;
    color: black;

}

.card {
    margin: auto;
    border-radius: 0%;
}

.card-header {
    color: black;
    background: fixed;
    font-size: medium;
    padding: 3%;
    text-align: center;
    font-weight: bolder;
}

.card-body {
    padding: 5%;
}

.btn {
    font-size: small;
    width: auto;
    margin: auto;
    color: navy;
    background-color: skyblue;
}

.form-input {
    width: 100%;
    margin-bottom: auto;
}

.fc-title {
    padding-left: 15px;
}

